<%- include('../../includes/head'); -%>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body class="home container">
    <%- include('../../includes/navigation'); -%>
    <%- include('../../includes/flashErrors'); -%>
<main class="container">
    <div class=" d-flex justify-content-between my-3">
      <p class="h4 text-secondary"><%= storeName %> </p>
      <a class="btn btn-primary" href="/admin/material/register/<%= storeId %>">Add New Material</a>
    </div>
    <table class="table table-striped caption-top table-hover table-bordered border-dark">
        <thead class="table-primary table-bordered border-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Inventory Code</th>
            <th scope="col">Acquisition Date</th>
            <th scope="col">Store</th>
            <th scope="col">Category</th>
            <th scope="col">Comment</th>
            <th scope="col">Action</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
            <% let count = 0; materials.forEach(material=>{++count; %>
                <tr>
                    <th scope="row"><%= count %></th>
                    <td><%= material.name %></td>
                    <td><%= material.inventoryCode %></td>
                    <td><%= material.acquisitionDate.toLocaleString('fr-FR', {day: "numeric", year: "numeric", month: "2-digit",}) %></td>
                    <td><%= material.store.storeName %></td>
                    <td><%= material.category %></td>
                    <td><%= material.comment %></td>
                    <td>
                      <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                          <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                          </a>
                          <ul class="dropdown-menu">
                            <li class="list-group-item"><a class="dropdown-item" href="/admin/material/<%= material.store.storeId %>/<%= material._id %>">Edit Material</a></li>
                          </ul>
                        </li>
                      </ul>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModel" id="deleteButton" data-material-name="<%= material.name %>" data-material-id="<%= material._id %>">
                            Delete
                        </button>
                        
                    </td>
                  </tr>
            <% }) %>
        </tbody>
      </table>
</main>

<!-- Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Material</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete <b id="modal-body-text">your</b>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <form action="/admin/material/delete/id" method="POST" id="deleteForm">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/storeMaterials.js"></script>
    
<%- include('../../includes/footer'); -%>