<%- include('../../includes/head'); -%>
    <link rel="stylesheet" href="/css/addForm.css">
</head>
<body>
    <%- include('../../includes/navigation'); -%>
    <main class="form-signin w-100 m-auto border border-primary rounded-2">
        <% if (errors !== null) { %>
            <%- include('../../includes/errors'); -%>
        <% } %>
        <form  action="/admin/material/register/<%= store._id %> " method="POST">
            <h1 class="h4 mb-3 fw-normal mt-3 text-center">Create a new material</h1>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="store" id="store" placeholder="store" value="<%= store.name %>" disabled>
                <label for="store">Store</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="name" id="name" placeholder="name" <% if (material !== null) { %> value="<%= material.name %>"<% } %> >
                <label for="email">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="inventoryCode" id="inventoryCode" placeholder="inventoryCode" <% if (material !== null) { %> value="<%= material.inventoryCode %>"<% } %>>
                <label for="inventoryCode">Inventory code</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" name="acquisitionDate" id="acquisitionDate" placeholder="acquisitionDate" <% if (material !== null) { %> value="<%= material.acquisitionDate %>"<% } %>>
                <label for="acquisitionDate">Acquisition date</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" name="comment" id="comment" placeholder="comment" <% if (material !== null) { %> value="<%= material.comment %>"<% } %> ></textarea>
                <label for="comment">Comment</label>
            </div>
            <select class="form-select mb-3" aria-label="category" name="category" id="category">
                <option selected disabled hidden>Select a category</option>
                    <option value="PC">PC</option>
                    <option value="Laptop">Laptop</option>
                    <option value="Server">Server</option>
                    <option value="All in one">All in one</option>
                    <option value="Onduleur">Onduleur</option>
                    <option value="Laser printer">Laser printer</option>
                    <option value="Inkjet printer">Inkjet printer</option>
                    <option value="Receipt printer">Receipt printer</option>
                    <option value="Network switch">Network switch</option>
                    <option value="Network cabinet">Network cabinet</option>
                    <option value="Alarm system">Alarm system</option>
                    <option value="Video surveillance system">Video surveillance system</option>
                    <option value="Fire system">Fire system</option>
                    <option value="Anti-theft gate">Anti-theft gate</option>
                    <option value="Time Clock">Time Clock</option>
            </select>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Create</button>
            <a class="w-100 btn btn-lg btn-outline-secondary mt-3" href="/admin/store/<%= store._id %>/materials">Cancel</a>
        </form>
    </main>

<%- include('../../includes/footer'); -%>